.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* align-items: center; */
  gap: 1.5rem;
  font-size: 1.25rem;
}

.nav {
  display: flex;
  justify-content: center;
  align-content: center;
  /* height: 70px; */
}

.nav a {
  text-decoration: none;
  color: #ddd6cb;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.nav a:hover,
.nav a:active {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
}

.active {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    background-color: #8d3a0b;
    z-index: 5;
  }
  .nav ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .nav a:hover,
  .nav a:active {
    background: linear-gradient(90deg, #ff8a05, #f9b331);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
  }

  .active {
    background: linear-gradient(90deg, #ff8a05, #f9b331);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .responsive_nav {
    transform: translateY(100vh);
  }

  .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .nav a {
    color: black;
    font-size: xx-large;
  }
}
